.container {
    margin-left: 3rem;
    width: 25rem;
    height: 41.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.loginOrRegisterContainer {
    margin-top: 3.5rem;
    width: 23.3rem;
    height: 5rem;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--purple);
    border-radius: 15px;
}

.loginOrRegisterContainer button {
    width: 11rem;
    height: 4rem;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.2s;
}

.loginOrRegisterContainer button~button {
    color: var(--green);
    background: var(--purple-dark);
    transition: border-radius 0.2s;
}

.loginOrRegisterContainer button img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0;
    object-fit: cover;
}

.loginOrRegisterContainer button:hover {
    color: var(--green);
}

.loginOrRegisterContainer button~button:hover{
    border-radius: 0;
}

